@font-face {
	font-family: font_text;
	src: url(fonts/text.ttf);
}


/*****************************************LAS FUENTES**********************************************/

@font-face {
	font-family: fuente1;
	src: url(fonts/CabinSketch-Regular.ttf)
}

@font-face {
	font-family: fuente2;
	src: url(fonts/Damion-Regular.ttf)
}

@font-face {
	font-family: fuente3;
	src: url(fonts/MarkoOne-Regular.ttf)
}

@font-face {
	font-family: fuente4;
	src: url(fonts/McLaren-Regular.ttf)
}


/**************************************************************************************************/

body {
	text-rendering: optimizeLegibility;
	padding: 20px;
}

header {
	padding-top: 6% !important;
}

header h1 {
	border: 10px solid;
	padding-bottom: 100px !important;
	padding-top: 100px !important;
}

header h2 {
	font-family: font_text;
	margin-top: 50px !important;
}

section div>p {
	color: #FFF;
	font-family: font_text;
	line-height: 55px;
	text-align: justify;
}

section footer>p {
	color: #FFF;
	font-family: font_text;
	line-height: 55px;
	margin-top: 20px !important;
}

section footer>a {
	color: #FFF !important;
}

#more {
	cursor: pointer;
}


/**********************************/

#font1 header>h3 {
	font-family: fuente1;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#font1 header {
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}

#font1 {
	background-color: #2CB1FF;
	margin-top: 10% !important;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 80px;
}


/**********************************/

#font2 header>h3 {
	font-family: fuente2;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#font2 header {
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}

#font2 {
	background-color: #F3BB3E;
	margin-top: -20px !important;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 80px;
}


/**********************************/

#font3 header>h3 {
	font-family: fuente3;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#font3 header {
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}

#font3 {
	background-color: lightpink;
	margin-top: -20px !important;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 80px;
}


/**********************************/

#font4 header>h3 {
	font-family: fuente4;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}

#font4 header {
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}

#font4 {
	background-color: greenyellow;
	margin-top: -20px !important;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 80px;
	opacity: 0;
	transition: 0.5s;
	display: none;
}

#circle {
	border: 3px solid #ccc;
	width: 12em;
	height: 12em;
	border-radius: 12em;
	margin-top: 40px !important;
	cursor: crosshair;
}

@media (max-width: 700px) {
	section article>p {
		display: none;
	}
}