@font-face {
	font-family: font_text;
	src: url(fonts/text.ttf);
}


/*****************************************LAS FUENTES**********************************************/

@font-face {
	font-family: fuente1;
	src: url(fonts/CabinSketch-Regular.ttf)
}

@font-face {
	font-family: fuente2;
	src: url(fonts/Damion-Regular.ttf)
}

@font-face {
	font-family: fuente3;
	src: url(fonts/MarkoOne-Regular.ttf)
}

@font-face {
	font-family: fuente4;
	src: url(fonts/McLaren-Regular.ttf)
}


/**************************************************************************************************/

body {
	text-rendering: optimizeLegibility;
	padding: 20px;
}

header h1{
	font-family: font_text;
}